.card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 619px);
  margin: 70px auto 90px auto;
}

.card-list__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 90px;
  column-gap: 30px;
  margin: 0 auto 105px auto;
  padding: 0;
}

.card-list__error {
  font-size: 20px;
}

.card-list__more {
  background-color: transparent;
  border: 1px solid rgba(66, 66, 66, 1);
  width: 320px;
  height: 36px;
  color: white;
  font-size: 12px;
  font-weight: 500;
  line-height: 30px;
  cursor: pointer;
  transition: all .3s;
}

.card-list__more:hover {
  opacity: .8;
}

@media screen and (max-width: 1180px) {
  .card-list {
    margin: 70px auto 98px auto;
    min-height: calc(100vh - 639px);
  }

  .card-list__grid {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 45px;
    margin-bottom: 60px;
  }

  .card-list__error {
    font-size: 16px;
  }
}

@media screen and (max-width: 763px) {
  .card-list {
    margin: 40px auto 100px auto;
    min-height: calc(100vh - 689px);
  }

  .card-list__grid {
    grid-template-columns: 1fr;
    row-gap: 40px;
    column-gap: 0;
    margin-bottom: 65px;
  }

  .card-list__error {
    font-size: 14px;
  }

  .card-list__more {
    width: 240px;
    height: 36px;
    border-radius: 6px;
  }
}