.movies {
  width: 100%;
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1180px) {
 .movies {
  max-width: 708px;
 }
}

@media screen and (max-width: 763px) {
  .movies {
    max-width: 300px;
  }
}