.about-projects {
  max-width: 1140px;
  width: 100%;
  margin: 0 70px 110px 70px;
  display: flex;
  flex-direction: column;
}

.about-projects__title {
  margin: 0 0 23px 0;
  padding: 0;
  font-size: 22px;
  font-weight: normal;
  line-height: 26.63px;
  letter-spacing: -1px;
}

.about-projects__line {
  width: 100%;
  height: 1px;
  background-color: rgba(218, 218, 218, 1);
  margin: 0 0 70px 0;
}

.about-projects__container {
  display: flex;
  width: 100%;
  margin-bottom: 110px;
}

.about-projects__paragraph {
  margin: 0 50px 0 0;
  padding: 0;
}

.about-projects__paragraph:last-of-type {
  margin-right: 0;
}

.about-projects__subtitle {
  margin: 0 0 26px 0;
  padding: 0;
  font-size: 20px;
  font-weight: normal;
  line-height: 24.2px;
  letter-spacing: -0.8px;
}

.about-projects__text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

.about-projects__progress {
  display: grid;
  grid-template-columns: 20% 80%;
}

.about-projects__backend {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-projects__backend-span {
  display: flex;
  width: 100%;
  height: 36px;
  color: rgba(0, 0, 0, 1);
  margin: 0 0 15px 0;
  padding: 0;
  background-color: rgba(61, 220, 132, 1);
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: normal;
  line-height: 16.94px;
}

.about-projects__frontend {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-projects__frontend-span {
  display: flex;
  width: 100%;
  height: 36px;
  background-color: rgba(48, 48, 48, 1);
  justify-content: center;
  align-items: center;
  margin: 0 0 15px 0;
  padding: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 16.94px;
}

.about-projects__stage-name {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: rgba(139, 139, 139, 1);
}

@media screen and (max-width: 1180px) {
  .about-projects {
    max-width: 668px;
    margin: 0 70px 90px 70px;
  }

  .about-projects__paragraph {
    margin: 0 38px 0 0;
  }

  .about-projects__subtitle {
    margin: 0 0 20px 0;
  }

  .about-projects__container {
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 767px) {
  .about-projects {
    max-width: 284px;
    margin: 0 18px 70px 18px;
  }

  .about-projects__title {
    font-size: 18px;
    line-height: 21.78px;
    margin-bottom: 26px;
  }

  .about-projects__line {
    margin-bottom: 60px;
  }

  .about-projects__container {
    flex-direction: column;
    margin: 0 0 6px 0;
  }

  .about-projects__paragraph {
    margin: 0 0 56px 0;
  }

  .about-projects__subtitle {
    font-size: 18px;
    line-height: 21.78px;
    margin: 0 0 16px 0;
  }

  .about-projects__text {
    font-size: 11px;
    line-height: 16px;
  }

  .about-projects__progress {
    grid-template-columns: 100px 184px;
  }

  .about-projects__backend-span {
    height: 35px;
    margin-bottom: 10px;
    padding: 0;
    font-size: 11px;
    line-height: 13.31px;
  }

  .about-projects__frontend-span {
    height: 35px;
    margin-bottom: 10px;
    padding: 0;
    font-size: 11px;
    line-height: 13.31px;
  }

  .about-projects__stage-name {
    font-size: 11px;
    font-weight: 400;
    line-height: 13.31px;
  }
}
