.about-me {
  max-width: 1140px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 70px 100px 70px;
}

.about-me__title {
  margin: 0 0 23px 0;
  padding: 0;
  font-size: 22px;
  font-weight: normal;
  line-height: 26.63px;
  letter-spacing: -1px;
}

.about-me__line {
  width: 100%;
  height: 1px;
  background-color: rgba(218, 218, 218, 1);
  margin: 0 auto 66px auto;
}

.about-me__container {
  display: flex;
  width: 100%;
}

.about-me__info {
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 0;
}

.about-me__name {
  margin: 0 0 18px 0;
  padding: 0;
  font-size: 50px;
  font-weight: normal;
  line-height: 58px;
}

.about-me__occupation {
  margin: 0 0 26px 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

.about-me__description {
  max-width: 600px;
  margin: 0 0 99px 0;
  padding: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
}

.about-me__link {
  margin: 0;
  padding: 0;
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  transition: all .3s;
}

.about-me__hover {
  opacity: .7;
}

.about-me__photo {
  background-color: white;
  width: 270px;
  height: 327px;
  border-radius: 10px;
  margin: 0 0 0 auto;
}

@media screen and (max-width: 1180px) {
  .about-me {
    max-width: 668px;
    margin: 5px 50px 90px 50px;
  }

  .about-me__name {
    margin: 0 0 16px 0;
    font-size: 40px;
    line-height: 40px;
  }

  .about-me__occupation {
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 20px 0;
  }

  .about-me__description {
    max-width: 350px;
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 87px 0;
  }

  .about-me__photo {
    width: 255px;
    height: 307px;
  }
}

@media screen and (max-width: 763px) {
  .about-me {
    max-width: 292px;
  }

  .about-me__title {
    font-size: 18px;
    line-height: 21.78px;
    margin-bottom: 28px;
  }

  .about-me__line {
    margin-bottom: 60px;
  }

  .about-me__container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .about-me__photo {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    width: 292px;
    height: 352px;
    margin: 0 0 40px 0;
  }

  .about-me__name {
    font-size: 30px;
    line-height: 36.31px;
    margin-bottom: 20px;
  }

  .about-me__description {
    margin-bottom: 40px;
  }
}
